.main-nav {
  margin-bottom: 45px;

  li {
    display: block;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;

    @media (min-width: 640px) {
      display: inline-block;
      margin-bottom: 0;

      &:last-child a {
        padding-right: 0;
      }

      &:hover {
        background: transparent;
      }
    }
  }

  ul {
    margin: 1.8em 0 0;

    @media (min-width: 640px) {
      background-color: transparent;
    }
  }

  a {
    padding: 7px 25px;
    border-bottom: 1px solid $text-color;
    text-transform: uppercase;

    &:link,
    &:visited {
      color: $text-color;

      @media (min-width: 640px) {
        color: $text-color;
      }
    }

    @media (min-width: 640px) {
      padding: 7px 28px 7px 0;
      border-bottom: none;

      &:hover {
        color: $accent-color;
      }
    }
  }

  .active, .active:visited {
    color: $accent-color;

    @media (min-width: 640px) {
      color: $accent-color;
    }
  }

  @media (min-width: 640px) {
    float: right;
  }
}