#wrapper-content-bio {
  margin: 0 auto;
  padding: 0 1.4em;

  .bio-content {
    display: inline-block;
  }

  p {
    @extend %content-text;

    &.quote {
      color: $accent-color;
      margin: 70px auto;
      font-style: italic;
      font-size: 1.50rem;
    }
  }

  img {
    padding-bottom: 33px;

    @media (min-width: 640px) {
      max-width: 350px;
      float: left;
      margin: 0 33px 33px 0;

      &:not(:first-child) {
        margin: 0 0 33px 33px;
      }
    }
  }
}