form {
  max-width: 345px;
  margin: 60px auto 0;
}

input[type=text],
input[type=email],
textarea {
  background-color: transparent;
  box-shadow: none;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #979797;

  &:focus {
    background-color: transparent;
    box-shadow: none;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid $accent-color;
    padding: 0.5rem 0.5rem 0.5rem 0;
  }
}

input[type=text] {
  height: 30px;
}

textarea {
  height: 45px;
}

label {
  font-size: 16px;
  margin-bottom: 45px;
  -webkit-transition: color .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1),-webkit-transform .4s cubic-bezier(.25,.8,.25,1);
  transition: color .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1),-webkit-transform .4s cubic-bezier(.25,.8,.25,1);
  transition: transform .4s cubic-bezier(.25,.8,.25,1),color .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1);
  transition: transform .4s cubic-bezier(.25,.8,.25,1),color .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1),-webkit-transform .4s cubic-bezier(.25,.8,.25,1);
}

.labelfocus {
  color: $accent-color;
}

.contact-form-btn {
  width: 120px;
  height: 35px;
  padding: 0;
  background: $accent-color;
}
