#wrapper-content-videos {
  padding: 0 1.4em 5.6em;

  h1 {
    @extend %page-heading-title;
  }

  img {
    padding-bottom: 30px;
  }

  .video-list {

    &>div {
      padding-bottom: 1rem;

      &:last-child {
        float: left;
      }
    }
  }

  @media (min-width: 640px) {
    padding: 0 0 100px 0;
  }
}