#wrapper-content-videos {
  padding: 0 1.4em 5.6em;

  h1 {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-size: 25px;
    padding-bottom: 60px;
  }

  img {
    padding-bottom: 30px;
  }

  @media (min-width: 640px) {
    padding-bottom: 100px;
  }
}