/****GENERAL****/

* {
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  background: #fafafa;
}


.main-wrap {
  max-width: 100%;
  position: relative;

  @media (min-width: 640px) {
    width: calc(100% - 60px);
    left: 30px;
  }

  @media (min-width: 1024px) {
    width: calc(100% - 100px);
    left: 50px;
  }

  @media (min-width: 1400px) {
    width: calc(100% - 150px);
    left: 75px;
  }
}

//...HR BREAK
header hr {
  display: none;

  @media (min-width: 640px) {
    display: block;
    border-bottom: 2px solid #dedede;
    max-width: 100%;
    margin: 24px auto 60px;
}
}

footer hr {
    border-bottom: 2px solid #dedede;
    max-width: 100%;
    margin: 0 auto;
}

