
/****GENERAL****/

* {
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  background: #fafafa;
}


.main-wrap {
  max-width: 100%;
  position: relative;
}

/**** /GENERAL****/


/****HEADER****/

.wrapper-header-footer {
  padding: 40px 0 0;
  margin: auto;
}

.jj-icon {
  text-align: center;
}

.jj-icon img {
  height: 97px;
}

hr {
  max-width: 100%;
  margin: 24px auto 60px;
  border-bottom: 2px solid #dedede;
}

.hero-img {
  height: calc(100vh - 398px);
  background: url('../img/home-page-desktop.jpg') center center no-repeat;
  background-size: cover;
}

.scroll-arrows {
  position: relative;
  top: 100%;
  text-align: center;
}

.scroll-arrow-white {
  display: inline-block;
  text-indent: -9999em;
  letter-spacing: -9999em;
  height: 30px;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  position: relative;
  top: -40px;
  padding: 0 20px 30px;
  color: #fff;
}

.scroll-arrow-white:before {
  display: block;
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 10px;
  overflow: hidden;
  border-style: solid;
  border-width: 0 0 2px 2px;
  border-top-color: transparent;
  border-right-color: transparent;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 7px);
    transform: translate(0, 7px); }
  80% {
    -webkit-transform: translate(0, -7px);
    transform: translate(0, -7px); } }

@keyframes bounce {
  0%, 100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 7px);
    transform: translate(0, 7px); }
  80% {
    -webkit-transform: translate(0, -7px);
    transform: translate(0, -7px); }
}


.wrapper-header-footer img {
  max-width: 100%;
  text-align: center;
}

/**** /HEADER****/


/****NAVIGATION MENU****/

.main-nav li {
  display: block;
  font-size: 21px;
  text-align: center;
  margin-bottom: 15px;
}
.main-nav ul {
  margin: 1.8em 0 0;
}

.main-nav a {
  padding: 7px 25px;
  border-bottom: 1px solid #1e1e1e;
  text-transform: uppercase;
}

.main-nav a:link,
.main-nav a:visited {
  color: #1e1e1e;
}


.main-nav .active, .main-nav .active:visited {
  color: #3095de;
}

/**** /NAVIGATION MENU****/


/****BODY CONTENT****/

#wrapper {
  margin: 7em auto 9em;;
}

#wrapper p {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.25rem;
}

#wrapper p.quote {
  color: #3095de ;
  margin: 70px auto ;
  font-style: italic;
  font-size: 1.50rem;
}

/**** /BODY CONTENT****/


/**** FOOTER****/

.the-footer {
  color: #212121;
  overflow: hidden;
}

.the-footer h5,
.the-footer p {
  font-family: 'PT Sans', sans-serif;
}

.the-footer .row {
  max-width: 100%;
}

.mail {
  margin: 0;
  padding: 0;
}

.f-social img{
  margin: 1em .6em .3em;
  transition: .4s;
}

.f-social img:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.col-one {
  padding: .3em;
  display: block;
  text-align: center;
}

.col-one:not(:first-child) {
  margin-top: 30px;
}

.col-one.f-social {
  text-align: center;
}

.cc-two p {
  text-align: left;
}

/**** /FOOTER****/


/**** FORM****/

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}
input, textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  display: block;
  width: 100%;
  margin-top: 1em;
  border-radius: 8px;
  font-family: 'Merriweather', sans-serif;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
input:focus,
textarea:focus {
  box-shadow: 0 0 2px #3095de;
}

#input-submit {
  color: white;
  background: #3095de;
  cursor: pointer;
}

#input-submit:hover {
  box-shadow:0 1px 1px 1px #3095de;
}

textarea {
  height: 126px;
}

/**** /FORM****/


/*****************************************
            MEDIA QUERIES
*******************************************/

@media (min-width: 640px) {

  .main-wrap {
    width: calc(100% - 60px);
    left: 30px;
  }

  /****HEADER****/

  .jj-icon {
    text-align: left;
  }

  .jj-icon img {
    display: inline-block;
  }
  .main-nav {
    float: right;
  }
  .main-nav ul {
    background-color: transparent;
  }
  .main-nav li {
    display: inline-block;
    margin-bottom: 0;
  }
  .main-nav a {
    padding: 7px 28px 7px 0;
    border-bottom: none;
  }

  .main-nav li:last-child a {
    padding-right: 0;
  }

  .main-nav a:link,
  .main-nav a:visited {
    color: #111;
  }
  .main-nav a:hover {
    color: #3095de;
  }
  .main-nav li:hover {
    background: transparent;
  }
  .main-nav .active, .main-nav .active:visited {
    color: #3095de;
  }

  .hero-img {
    height: calc(100vh - 177px);
  }

  /**** /HEADER****/


  .col-one {
    text-align: left;
    margin-top: 0;
  }

  .col-one:not(:first-child) {
    margin-top: 0;
  }

  .f-logo {
    margin-top: 0;
    text-align: right;
  }
}


@media (min-width: 1024px) {
  .main-wrap {
    width: calc(100% - 100px);
    left: 50px;
  }
}

@media (min-width: 1400px) {

  .main-wrap {
    width: calc(100% - 150px);
    left: 75px;
  }

  .hero-img {
    height: calc(100vh - 177px);
    background: url('../img/home-page-desktop.jpg') center top no-repeat;
    background-size: cover;
  }

}

